[tool.poetry]
name = "mkreports"
version = "0.1.0"
description = "Creating static reports from python using mkdocs"
authors = ["Holger Hoefling <hhoeflin@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7"
mkdocs = ">=1.2.3"
mkdocs-material = ">=7.3.6"
mdutils = ">=1.3.1"
PyYAML = ">=6.0"
immutabledict = ">=2.2.1"
typing-extensions = "<=3.11"
pytest = ">=6.2.5"
tabulate = ">=0.8.9"
deepmerge = ">=0.3.0"
python-frontmatter = ">=1.0.0"
anytree = "^2.8.0"

[tool.poetry.dev-dependencies]
pudb = ">=2021.2.2"
bpython = ">=0.22.1"
pytest = ">=6.2.5"
pytest-pudb = ">=0.7.0"
plotnine = ">=0.8.0"
matplotlib = ">=3.4.3"
seaborn = ">=0.11.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
